@charset "UTF-8";

.modo-claro {
    --bg-color: #e3e9f5;
    --text-color: #1c1c3c;
    --accent-color: #00f0ff;
    --accent-color-dark: #0088aa;
    --nome-color: #1c1c3c;
    --highlight-color: #ff66cc;
    --cor-neon: #00ffff;
    --box-color: #f4f4fb;
    --box-color-translucent: rgba(255, 255, 255, 0.6);
    --primary-color: #b6c5ff;
    --secondary-color: #ff85e9;
    --header-gradient: linear-gradient(90deg, #7cc6ff, #ff3cac);
    --subtitulo-gradient: linear-gradient(90deg, #ff3cac, #00b3ff);
    --subtitulo-color: #1f1f33;
}

:root {
    --bg-color: #0f0f1c;
    --text-color: #e8e8ff;
    --accent-color: #f5d300;
    --accent-color-dark: #a07f00;
    --nome-color: #ffffff;
    --highlight-color: #ff2bba;
    --cor-neon:#ff00ff;
    --box-color: #1c1c2e;
    --box-color-translucent: rgba(255, 255, 255, 0.08);
    --primary-color: #8a2be2;
    --secondary-color: #00d4ff;
    --border-color: #ff3cac;
    --subtitulo-color: #ffffff;
    --header-gradient: linear-gradient(90deg, #8a2be2, #00d4ff);
    --subtitulo-gradient: linear-gradient(90deg, #8a2be2, #00d4ff);
    --font-title: 'Orbitron', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
}