@charset "UTF-8";

.modo-claro {
    --bg-color: #dff6ff; /* Azul gelo bem claro, suave para fundo */
    --text-color: #06142e; /* Azul bem escuro para boa leitura */
    
    --accent-color: #00b8d4; /* Ciano elegante, mais fechado */
    --accent-color-dark: #00788c; /* Para hover/bordas */
    
    --border-color: #00b8d4;
    --box-color: #f0fbff; /* Cartões quase brancos, mas não puro */
    --box-color-translucent: rgba(255, 255, 255, 0.5);
    
    --highlight-color: #ff4d88; /* Rosa neon suave */
    --cor-neon: #ff4d88;
    --neon-green: #2ee59d;
    --neon-pink: #ff4d88;
    
    --primary-color: #00b8d4; /* Azul-ciano principal */
    --secondary-color: #ff4d88; /* Rosa secundário vibrante */
    
    --nome-color: #082f49; /* Para seu nome no header */
    
    --header-gradient: linear-gradient(90deg, #00b8d4, #2ee59d);
    --subtitulo-gradient: linear-gradient(90deg, #ff4d88, #00b8d4);
    --subtitulo-color: #00788c;
    
    --shadow-color: rgba(6, 20, 46, 0.12);
    --text-muted: #4d6882;
    
    --scrollbar-thumb: #00b8d4;
}


:root {
    --bg-color: #01012b;
    --text-color: #d1f7ff;
    --accent-color: #05d9e8;
    --accent-color-dark: #005678;
    --nome-color: #ffffff;
    --highlight-color: #ff2a6d;
    --cor-neon:#ff2a6d;
    --box-color: #005678;
    --box-color-translucent: rgba(209, 247, 255, 0.08);
    --primary-color: #05d9e8;
    --secondary-color: #ff2a6d;
    --shadow-color: #05d9e8;
    --border-color: #ff2a6d;
    --subtitulo-color: #d1f7ff;
    --header-gradient: linear-gradient(90deg, #8a2be2, #00d4ff);
    --subtitulo-gradient: linear-gradient(90deg, #8a2be2, #00d4ff);
    --font-title: 'Orbitron', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
}