@charset "UTF-8";

.modo-claro {
    --bg-color: #c6f1f8;
    --text-color: #01012b;
    --accent-color: #05d9e8;
    --accent-color-dark: #038ca1;
    --border-color: #005678;
    --box-color: #e9fafe;
    --cor-neon: #00ffff;
    --nome-color: #0a0a2a;
    --highlight-color: #ff2a6b;
    --box-color-translucent: rgba(255, 255, 255, 0.6);
    --primary-color: #05d9e8;
    --secondary-color: #ff2a6d;
    --header-gradient: linear-gradient(90deg, #05d9e8, #ff2a6d);
    --subtitulo-gradient: linear-gradient(90deg, #ff2a6d, #05d9e8);
    --subtitulo-color: var(--text-color);
    --shadow-color: rgba(1, 1, 43, 0.1);
    --text-muted: #4d4d6b;
    --scrollbar-tumb: #05d9e8;
}

:root {
    --bg-color: #0f0f1c;
    --text-color: #e8e8ff;
    --accent-color: #f5d300;
    --accent-color-dark: #a07f00;
    --nome-color: #ffffff;
    --highlight-color: #ff2bba;
    --cor-neon:#ff00ff;
    --box-color: #1c1c2e;
    --box-color-translucent: rgba(255, 255, 255, 0.08);
    --primary-color: #8a2be2;
    --secondary-color: #00d4ff;
    --border-color: #ff3cac;
    --subtitulo-color: #ffffff;
    --header-gradient: linear-gradient(90deg, #8a2be2, #00d4ff);
    --subtitulo-gradient: linear-gradient(90deg, #8a2be2, #00d4ff);
    --font-title: 'Orbitron', sans-serif;
    --font-body: 'Space Grotesk', sans-serif;
}